*.iml
.gradle
/local.properties

/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/inspectionProfiles
/.idea/dictionaries

/.idea/modules.xml
/.idea/encodings.xml
/.idea/.name
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/shelf
/.idea/runConfigurations.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml

.DS_Store

/build
/captures
.externalNativeBuild
.cxx
/.idea/other.xml
/.idea/kotlinc.xml
/.idea/androidTestResultsUserPreferences.xml
